name: CI
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        project: [core, client, server]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 11.0.18
      - name: Ktfmt check
        run: ./gradlew :${{ matrix.project }}:ktfmtCheck
      - name: Compile
        run: ./gradlew :${{ matrix.project }}:compileKotlin
      - name: Test
        run: xvfb-run --auto-servernum ./gradlew :${{ matrix.project }}:test
